button {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.actionbutton {
    background-color: white;
    border-radius: 30%;
    border: 5px solid #ff1923;
    color: #ff1923;
    font-size: 20px;
}

.actionbutton:hover {
    background-color: #ff1923;
    border-radius: 10%;
    border: 5px solid #ff1923;
    color: white;
}

.searchbutton {
    background-color: white;
    border-radius: 30%;
    border: 5px solid #ff1923;
    color: #ff1923;
    font-size: 20px;
}

.searchbutton:hover {
    background-color: #ff1923;
    border-radius: 10%;
    border: 5px solid #ff1923;
    color: white;
}